.col-lg-12
  .embed-responsive.embed-responsive-1by1
    %iframe#iframmy.embed-responsive-item{:src => "https://calendar.google.com/calendar/embed?height=400&src=cimav.edu.mx_uemi228msvn0gn5bka7av5c2m4%40group.calendar.google.com&ctz=America%2FMazatlan"}
  %br

  